
<template name="watsonML">


<div class="wrapper wrapper-content animated fadeIn">
        <div class="row">

   
            
            <div class="col-lg-12">
                <div class="ibox">
                  <div class="ibox-content">
                     <div class="row">
                        <div class="col-lg-6">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Bar Chart Example</h5>
                                    {{>iboxTools}}
                                </div>
                             <div id="verToken" class="text-center">
                               <button id="vertoken" type="button" class="btn btn-sm btn-primary"  >
                                    Ver TokenId <span class="glyphicon glyphicon-ok"></span>
                               </button>
                             </div>

                             <div id="verJob" class="text-center">
                               <button id="verJob" type="button" class="btn btn-sm btn-primary"  >
                                    Ver Job <span class="glyphicon glyphicon-ok"></span>
                               </button>
                             </div>
                             <div id="verBucketObj" class="text-center">
                               <button id="verbucketobj" type="button" class="btn btn-sm btn-primary"  >
                                    Ver Objeto de Bucket <span class="glyphicon glyphicon-ok"></span>
                               </button>
                             </div>
                             crearbucket
                             <div id="creaB" class="text-center">
                               <button id="crearbucket" type="button" class="btn btn-sm btn-primary"  >
                                    Crear un Bucket <span class="glyphicon glyphicon-ok"></span>
                               </button>
                             </div>

                            </div>
                        </div>
                     </div>   
                    </div>
                    <p>  This editor is read-only (mode='viewer').</p>
                    <div id="jsoneditor"></div>
                </div>
            </div>
        </div>


        
</div>
</template>
