<template name="TmplModalChangePass">

	<div id="changePassModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Cambiar Password Usuario</h4>
				</div>

				{{#autoForm schema=traeSchema id="afChangePass" type="method" validation="submit"  meteormethod="setForcedNewPass" doc=selectedUserDoc}}
                   <div class="modal-body"> 
                    	<fieldset>
					        {{> afQuickField  name='userId'  readonly=true}}
							{{> afQuickField  name='password' }}
							{{> afQuickField  name='confirmPassword'}}
							
					    </fieldset> 
				   </div>
				   <div class="modal-footer">  
				          
				          <button type="submit" class="btn btn-primary">Actualizar</button>
				          <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
				    </div>
				{{/autoForm}}
				
			</div>
		</div>
	</div>
</template>

<!-- Usamos  type "method" en este caso para enviar el doc { userId:'2Sd9sA25DhykDosKw',password:'123456',confirmPassword: '123456' } a la rutina setForcedNewPass  , mientras que si uso type="method-update" a setForcedNewPass envia
docSchema:{'$set':{userId:'2Sd9sA25DhykDosKw',password:'123456',confirmPassword:'123456'}}
con lo cual en setForceNewPass no encontrara el usuario pues no puede identificar userId -->