<template name="TmplModalCreateUser">

	<div id="createUserModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Crear Usuario PP</h4>
				</div>
				
				 {{#autoForm schema=traeSchema id="afCreateUser" type="method" doc=selectedUserDoc  validation="submit"  meteormethod="crearUsuario"}}
	                   <div class="modal-body">
	     			   		{{> afQuickFields}}
	     			   </div>
	     			   <div class="modal-footer">
	                        	 <button type="submit" class="btn btn-primary">Crear</button>
				         		<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
				       </div>
	  		     {{/autoForm}} 
    			
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</template>
