<template name="modalwarehouse">

  <!-- Modal -->
  <div class="modal fade" id="agregarnuevosdatosmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nuevo problema</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="frmnuevo">
            <label>Nombre del problema</label>
            <input autofocus="" type="text" class="form-control input-sm" id="nombre" name="nombre"><br>
            <label>Descripcion del problema</label>
            <input type="text" class="form-control input-sm" id="descripcion" name="nombre"><br>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="btnAgregarnuevo" class="btn btn-primary" data-dismiss="modal">Agregar</button>
        </div>
      </div>
    </div>
  </div>
    
</template>


   